*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
}
input,textarea{
  color: white;
  display: block;
  width: 96%;
  margin: auto;
  border: none;
  border-bottom: 2px solid green;
  background-color: rgb(36, 36, 36);
  
}
#inputName{
  background-color: rgb(36, 36, 36);
}

body{
  background-color: rgb(21, 21, 21);
  color: white;
}
input,textarea:active{
  outline: 0px;
  display: block;
  width: 96%;
  margin: auto;
  border: none;
  border-bottom: 2px solid green;
  background-color: rgb(36, 36, 36);
}



input,textarea:focus{
  display: block;
  width: 96%;
  margin: auto;
  border-style: none;
  border-bottom: 2px solid green;
}
textarea:focus{
  outline: 0;
}

.capitalize{
  text-transform: uppercase;
}
label,button{
  margin-left: 2%;

}
button{
  color: white;
  border: none;
  border-bottom: 2px solid green;
  background-color: rgb(36,36,36);
}
picture>img{
  width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.picture_and_description{
  .profile_image{
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 47%;
  
    }
  }
  .description{
    text-align: center;
    width: 92%;
    margin: auto;
    color: gray;
    
  }

}


.name_and_profiles{
  margin: auto;
  .name{
    text-align: center;
  }
  .profiles{
    
    margin-left: 25%;
  } 

}


//this is for centering the texts
.name,.description,.project_cta,.html,.css,.javascript,.react,.sass,.accessibility{
  text-align: center;

}


//remember to use the css shorthand property
.project_cta{
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  
  
}
.links_1,.links_2,.links_3,.links_4,.links_5,.links_6{
  display: flex;
  text-transform: uppercase;
  padding-left: 4%;
  
  
}
span{
  text-decoration: underline green;
}
a{
  color: white;
}
.project1_name{
  padding-left: 4%;
  text-transform: uppercase;
}

.center{
  text-align: center;
}
#name_and_profiles2{
  background-color: rgb(36, 36, 36);
}
.form_enquiry{
  background-color: rgb(36, 36, 36);
  .enquiry{
    width: 92%;
    margin: auto;
  }
  p:nth-child(2){
    color: gray;
  }
}

.technology{
  div{
    p:nth-child(1){
      color: white;
    }
    p:nth-child(2){
      color: gray;
    }
  }
}

.all_projects{
  div{
    div{
      p:nth-child(2){
        color: gray;
      }
    }
  }
}

//for tablet users

@media (min-width:376px){
  .name_and_profiles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
  }
  .picture_and_description{
    display: grid;
    grid-template-columns: 53% auto;
    .description{
      grid-column-start: 1;
      grid-column-end: 2;
      
    }
    .profile_image{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
    }
  }
  .technology{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .all_projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .form_enquiry{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width:1000px){
  .technology{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  

}