*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Space Grotesk";
}
input{
  display: block;
  width: 96%;
  margin: auto;
  color: yellow;
}
picture>img{
  width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.picture_and_description{
  .profile_image{
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 47%;
  
    }
  }
  .description{
    text-align: center;
    width: 91%;
  }

}

body{
  background-color: rgb(21, 21, 21);
}

.name_and_profiles{
  .name{
    text-align: center;
  }
  .profiles{
    
    width: 153px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    img{
      width: 15px;
    }
  } 

}


//this is for centering the texts
.name,.description,.project_cta,.html,.css,.javascript,.react,.sass,.accessibility{
  text-align: center;

}


//remember to use the css shorthand property
.project_cta{
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  
  
}
.links_1,.links_2,.links_3,.links_4,.links_5,.links_6{
  display: flex;
  text-transform: uppercase;
  padding-left: 4%;
  
}
.project1_name{
  padding-left: 4%;
  text-transform: uppercase;
}

.center{
  text-align: center;
}

//for tablet users

@media (min-width:376px){
  .name_and_profiles{
    width: 96%;
    display: flex;
    justify-content: space-between;
  }
  .picture_and_description{
    display: grid;
    grid-template-columns: 53% auto;
    .description{
      grid-column-start: 1;
      grid-column-end: 2;
      
    }
    .profile_image{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
    }
  }
  .technology{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .all_projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .form_enquiry{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width:1000px){
  .technology{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  

}