*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
  font-size: 16px;
  
  
}
.box-content{
  display: none;
}
hr{
  width: 90%;
  margin: auto;
}
input,textarea{
  color: white;
  display: block;
  width: 96%;
  margin: auto;
  border: none;
  border-bottom: 2px solid gray;
  background-color: rgb(36, 36, 36);
  
}
#inputName{
  background-color: rgb(36, 36, 36);
}
button:hover{
  color: rgb(78, 225, 160);
  
}

body{
  background-color: rgb(21, 21, 21);
  color: white;
  
}
input,textarea:active{
  outline: 0px;
  display: block;
  width: 96%;
  margin: auto;
  border: none;
  border-bottom: 2px solid gray;
  background-color: rgb(36, 36, 36);
}


.profiles{
  img:hover{
    filter: brightness(0) saturate(100%) invert(57%) sepia(24%) saturate(768%) hue-rotate(130deg) brightness(95%) contrast(85%);
  }
}
input,textarea:focus{
  display: block;
  width: 96%;
  margin: auto;
  border-style: none;
  border-bottom: 2px solid gray;
}
textarea:focus{
  outline: 0;
}

.capitalize{
  text-transform: uppercase;
}
label,button{
  margin-left: 2%;

}
button{
  color: white;
  border: none;
  border-bottom: 2px solid rgb(78, 225, 160);
  background-color: rgb(21, 21, 21);
  text-transform: uppercase;
}


.last_button_container{
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: end;
}
picture>img{
  width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.picture_and_description{
  .profile_image{
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 47%;
  
    }
  }
  .description{
    text-align: center;
    width: 92%;
    margin: auto;
    p:nth-child(1){
      color: white;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.15px;
      

    }
    p:nth-child(2){
      color: gray;
      line-height: 26px;
      letter-spacing: 0;
      

    }
    button{
      font-weight: bold;
      line-height: 26px;
      letter-spacing: 2.29px;
    }
    
  }

}


.name_and_profiles{
  
  .name{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.33px;
  }
  .profiles{
    width: 50%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  } 

}


//this is for centering the texts
.name,.description,.project_cta,.html,.css,.javascript,.react,.sass,.accessibility{
  text-align: center;

}


//remember to use the css shorthand property
.project_cta{
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  p{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.15px;
  }
  button{
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 2.29px;
  }
}
.links_1,.links_2,.links_3,.links_4,.links_5,.links_6{
  display: flex;
  text-transform: uppercase;
  padding-left: 4%;
  
  
}
span{
  text-decoration: underline rgb(78, 225, 160);
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.15px;
}
a{
  color: white;
  text-decoration-color: rgb(78, 225, 160);
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.29px;
}
.project1_name{
  padding-left: 4%;
  text-transform: uppercase;
}

.center{
  text-align: center;
}
#name_and_profiles2{
  background-color: rgb(36, 36, 36);
}
.form_enquiry{
  background-color: rgb(36, 36, 36);
  .enquiry{
    width: 92%;
    margin: auto;
    p:nth-child(1){
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.14px;
    }
    p:nth-child(2){
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0px;
    }

  }
  p:nth-child(2){
    color: gray;
  }
}

.technology{
  div{
    p:nth-child(1){
      color: white;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
    }
    p:nth-child(2){
      color: gray;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;
    }
  }
}

.all_projects{
  div{
    div{
      p:nth-child(1){
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
      
        
      }
      p:nth-child(2){
        color: gray;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
      }
    }
  }
}

::placeholder{
  line-height: 26px;
  letter-spacing: -0.22px;
      
}
.last_button{
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 2.29px;
}

//for tablet users

@media (min-width:760px){

  .name_and_profiles{
    display: flex;
    justify-content: space-between;
    .name{
      font-size: 32;
      font-weight: bold;
      line-height: 32px;
      letter-spacing: -0.44px;

    }
    
    .profiles{
      display: flex;
      justify-content: space-between;
      margin: 0;
      z-index: 5;
    }
  }
  .picture_and_description{
    display: grid;
    grid-template-columns: 60% 40%;
    .description{
      grid-column-start: 1;
      grid-column-end: 2;
      p{
        text-align: justify;
      }
      .first_button_container{
        display: flex;
      }
      p:nth-child(1){
        font-weight: bold;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
      }
      button{
        font-weight: bold;
        line-height: 26px;
        letter-spacing: 2.29px;
      } 
    }
    .profile_image{
      top: 0;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      img{
        margin: 0;
        width: 100%;
      }
    }
  }
  .technology{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2%;
    padding-right: 2%;
    div{
      p{text-align: justify;}
    }
  }
  .all_projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .form_enquiry{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    div{
      p{
        text-align: justify;
      }
    }
  }

}

@media (min-width:1200px){
  .all_projects{
		display: grid;
    grid-row-gap: 60px;
  }
	.form_enquiry{
		padding-bottom: 100px;
		height: 327px;
		padding-top: 50px;
	}
	#name_and_profiles2{
		padding-top: 50px;
		padding-bottom: 100px;

	}

  .links_1,.links_2,.links_3,.links_4,.links_5,.links_6{
    display: none;
    
    
  }

  .box{
    overflow: hidden;
    position: relative;
    cursor: pointer;

}
.box:hover .box-content{
  opacity: 0.9;
}
.box-content {
  background: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  opacity: 0;
  left: 0;
  bottom: 0%;
  height: 100%;
  width: 100%;
  padding: 36px;
  color: var(--white);
  z-index: 5;
  transition: all 0.3s ease-in-out 0.1s;
}
  .all_projects{
    padding-right: 6%;
    padding-left: 6%;
    
  }

  .form_enquiry{
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 30px;
  }

  .technology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 60px;
		padding-left: 7.5%;
    padding-right: 7.5%;
		margin-top: 70px;
		margin-bottom: 70px;
  }
	.project_cta{
		width: 83%;
		margin: auto;
		margin-bottom: 100px;
	}
  .name_and_profiles{
    width: 100%;
    padding-left: 10%;
    padding-right: 8%;
    
  }
  #name_and_profiles1{
    margin-top: 30px;
    margin-bottom: -30px;

  }


  .picture_and_description{
		.profile_image{
			z-index: 0;
			position: relative;
		};
		.description{
			position: absolute;
			width: 52%;
			z-index: 5;
			right: 38%;
			top: 20%;

		};


    margin-bottom: 70px;

    padding-left: 6%;
    padding-right: 7.3%;
    .description{
			
      p:nth-child(1){
				
        font-weight: bold;
        font-size: 80px;
        line-height: 88px;
        letter-spacing: -2.5px;
				span{
					font-weight: bold;
					font-size: 88px;
					line-height: 88px;
					letter-spacing: -2.5px;
				}
      }
			p:nth-child(2){
				width: 445px;
				margin-top: 30px;
				margin-bottom: 60px;
			}
      
      button{
        font-weight: bold;
        line-height: 26px;
        letter-spacing: 2.29px;
      }
    }

  }

  }

